     /* ----------Google Fonts inter ------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
     /* -------------General Reset and Variables---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #388E3B;
    --primary-color2: #43A046;
    --primary-color3: #1B5E1F;
    --secondary-color: #263238;
    --silver-color: #F5F7FA;
    --black-color: #263238;
    --white-color: #FFFFFF;
    --grey-color: #4D4D4D;

}

body{
    font-family: 'inter', sans-serif;
    background-color: var(--white-color);
}
     /* -------Header styles---------  */

     header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--white-color);
        width: 100%;
        height: 80px;
        padding: 0 20px;
     }

     header .logo{
        font-size: 1em;
        font-weight: 600;
        max-width: 1400px;
        }

     header nav{
        display: flex;
        gap: 20px;
        align-items: center;
        max-width: 1400px;
        
     }

     header nav ul{
        display: flex;
        list-style: none;
        gap: 20px;
     }
      header nav ul li{
        font-size: 0.9em;
        font-weight: 500;
      }
      header nav ul li a{
        text-decoration: none;
        color: var(--black-color);
      }
     header nav ul li a:hover{
        text-decoration: underline;
        color: var(--primary-color2)
     }

     header nav .btn-header{
        background-color:var(--primary-color);   
        color: var(--white-color);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transform: all 0.3s ease;
        height: 50px;
        width: 150px;
     }
      header nav .btn-header:hover{
        background-color: var(--primary-color2);
        transform: scale(1.05); 
      }

   /* --------Hero Section --------  */

    .hero {
     background-color: var(--silver-color);
     height: 500px;
     padding: 90px 40px;
     width: 100%;
      }

    .hero-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; 
      flex-wrap: wrap;
      max-width: 1400px;
      margin: 0 auto;
     }

    .hero-text {
     max-width: 50%;
     padding-left: 40px;
     }

   .hero-text h1 {
     font-size: 4em;
     align-items: center;
     font-weight: bold;
     color: var(--grey-color);
     }

   .hero-text h1 span {
    color: var(--primary-color)
     } 

   .hero-text p {
     color: var(--grey-color);
     margin: 20px 0;
   }

   .register-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transform: all 0.3s ease;
}
    .register-btn:hover{
      background-color: var(--primary-color2);
      transform: scale(1.05);
    }

   .hero-image img {
     width: 100%;
     max-width: 700px;
     margin-top: -40px; 
     padding-right: 40px;
}

/* ------Clients Section ----------- */

.clients{
   align-items: center;
   color: var(--grey-color);
   padding-top: 40px;
   text-align: center;
   width: 100%;
}

.clients h1{
  font-size: 3em;
  margin-bottom: 10px;
}

.clients p{
   font-size: 0.9em;
   font-weight: 400;
   padding-bottom: 30px;
}

.clients-image{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;

}
.clients-image img{
  width: 50px;
  margin-bottom: 60px;
  margin-top: 25px;
}
 
 /* Manag Section  */

 .manage-section{
   align-items: center;
   color: var(--grey-color);
   padding-top: 20px;
   text-align: center;
   width: 100%;
   font-weight: 300;
   font-size: 1.3em;
   
 }

 .manage-section p{
  align-items: center;
  text-align: center;
  color: var(--grey-color);
  margin-top: 10px;
  font-size: .7em;
 }
  .frame-section{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 180px;
    padding: 50px;
  }
  
  .frame-section .frame1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 2px 1px 2px 3px var(--silver-color);
    
  }

  .frame-section .frame1 h1{
    align-items: center;
    text-align: center;
    color: var(--grey-color);
    font-size: 1.5em;
  }

  .frame-section .frame1 p{
    text-align: center;
    align-items: center;
    color: var(--grey-color);
    margin-top: 25px;
  }
 .frame-section .frame1 img{
  width: 60px;
  margin-bottom: 20px;
 }

 .frame-section .frame2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 2px 1px 2px 3px var(--silver-color);
 }

 .frame-section .frame2 h1{
    align-items: center;
    text-align: center;
    color: var(--grey-color);
    font-size: 1.5em;
 }

 .frame-section .frame2 p{
    text-align: center;
    align-items: center;
    color: var(--grey-color);
    margin-top: 25px;
 }
.frame-section .frame2 img{
  width: 65px;
  margin-bottom: 20px;
}

.frame-section .frame3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 2px 1px 2px 3px var(--silver-color);
}

.frame-section .frame3 h1{
   align-items: center;
    text-align: center;
    color: var(--grey-color);
    font-size: 1.5em;

  }
  .frame-section .frame3 p{
    text-align: center;
    align-items: center;
    color: var(--grey-color);
    margin-top: 25px;
  }
  .frame-section .frame3 img{
    width: 65px;
    margin-bottom: 10px;
  }
     
  /* -------Unlock section ---------- */

  .unlock-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 70px;
    width: 100%;
    margin-bottom: 30px;
  }

  .unlock-section img{
   width: 500px; 
   
  }

  .unlock-section .unlock-frame{
      display: flex;
      flex-direction: column;
      max-width: 1400px;
  }

  .unlock-section .unlock-frame h1{
    align-items: center;
    color: var(--grey-color);
    font-size: 2.5em;
    font-weight: 600;
  }

  .unlock-section .unlock-frame p{
    text-align: justify;
    line-height: 1.5;
    color: var(--grey-color);
    margin-top: 15px;
    font-size: 0.8em;
    font-weight: 400;
   margin-bottom: 40px;
  }

  .unlock-section .unlock-frame .btn-unlock{
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    max-width: 150px;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    transform: all 0.3s ease;
  }

  .unlock-section .unlock-frame .btn-unlock:hover{
    background-color: var(--primary-color2);
    transform: scale(1.05);
  }

  /*------- Achievements Section ------------ */
  
.achievements-wrapper {
  background-color: var(--silver-color);
  width: 100%;
  padding: 60px 20px;
  margin-bottom: 20px;
}

.achievements-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  height: 200px;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
  align-items: center;
  
  
}

.achievements-text h1 {
  font-size: 2.5em;
  color:var(--grey-color);
  padding-left: 60px;
}

.achievements-text span {
  color:var(--primary-color);
  font-weight: bold;
}

.achievements-text p {
  font-size: 1.5em;
  margin-top: 12px;
  color:var(--grey-color);
   padding-left: 60px;
}
.achievements-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.stat-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.stat-box img {
  width: 50px;
  height:50px;
  
}

.stat-box h2 {
  font-size: 22px;
  margin: 0;
  color: var(--grey-color);
}

.stat-box p {
  margin: 0;
  font-size: 14px;
  color:var(--grey-color);
}

/* --------------Calendar Section------------ */

.calendar-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 70px;
  }

  .calendar-section img{
    width: 400px; 
    
  }

  .calendar-section .calendar-frame1{
     display: flex;
     flex-direction: column;
     max-width: 1400px;
    
  }

  .calendar-section .calendar-frame1 h1{
    align-items: center;
    color: var(--grey-color);
    font-size: 2.5em;
    font-weight: 600;
  }

  .calendar-section .calendar-frame1 p{
     max-width: 700px;
     margin: 0 auto;                         
     font-size: 1em;         
     color: var(--grey-color);          
     line-height: 1.3;     
     text-align: justify;
     margin-top: 10px;
     margin-bottom: 25px;
  }

  .calendar-section .calendar-frame1 .btn-calendar{
    background-color: var(--primary-color);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    max-width: 150px;
    height: 50px;
    font-size: 1em;
    cursor: pointer;
    transform: all 0.3s ease;
  }

  .calendar-section .calendar-frame1 .btn-calendar:hover{
    background-color: var(--primary-color2);
    transform: scale(1.05);
  }

   /* --------Customer-Section--------- */

   .customer-section{
    background-color: var(--silver-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    margin-bottom: 20px;
    height: 450px;
   }

   .customer-section .customer-frame1 {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1400px;
      gap: 100px;
      
   }
   .customer-section .customer-frame1 .big-img img{
    width: 400px;
    margin-top: 30px;
    align-items: center;
  }
  .customer-section .customer-frame1 .customer-frame2 p {
     max-width: 700px;
     margin: 0 -25px;            
     padding: 10px;             
     font-size: 1em;         
     color: var(--grey-color);          
     line-height: 1.5;     
     text-align: justify;
     margin-bottom: 10px;
     margin-top: -30px;

  }
  .customer-section .customer-frame1 .customer-frame2 h3 {
     margin: 0 -25px;            
     padding: 10px;             
     font-size: 1.3em;         
     color: var(--primary-color);  
     margin-top: -20px;  
     margin-bottom: auto;         
  }
  
  .customer-section .customer-frame1 .customer-frame2 span{
    margin: 0 -25px;
    padding: 10px;
    font-size: 1em;
    color: var(--grey-color);  
    
   
  }

  .customer-section .customer-frame1 .customer-frame2 .customer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
    
  }
.customer-section .customer-frame1 .customer-frame2 .customer-img img{
  width: 50px;
  margin-top: 20px;
}
.customer-section .customer-frame1 .customer-frame2 .customer-img p {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 600;
    margin-top: 25px;
    
}

 /* -------Community Section ------- */

 .community-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .community-frame h1{
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-top: 50px;
   color: var(--grey-color);
   font-size: 2.5em;
 }
 .community-frame  p{
     max-width: 700px;
     align-items: center;
     text-align: center;
     justify-content: center;                         
     font-size: 1em;         
     color: var(--grey-color);          
     line-height: 1.5;     
     font-weight: 400;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 
 .main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1400px;
  
 }

.card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 350px;
}

.card-img {
  width: 100%;
  display: block;
  height: auto;
}

.card-content {
  background-color: var(--white-color);
  padding: 16px;
  text-align: center;
  position: relative;
  top: -50px;
  height: -100px;
  z-index: 1;
  margin: 0 12px;
  border-radius: 10px;
  box-shadow: 0 6px 10px var(--grey-color)
}

.card-content a {
  display: inline-block;
  margin-top: 10px;
  color: var(--primary-color2);
  font-weight: bold;
  text-decoration: none;
}
 

 /* ----Footer-sections---- */

 .footer-section1 {
  background-color: var(--silver-color);
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-frame1 {
  max-width: 1400px;
}

.footer-section1 h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: 30px;
  line-height: 1.2;
}

.btn-footer {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--primary-color2);
  font-weight: 500;
  text-decoration: none;
  height: 50px;
  color: white;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn-footer:hover {
  background-color: var(--primary-color);
}